BODY
{
    SCROLLBAR-FACE-COLOR: #e0e0dd;
    FONT-SIZE: 12px;
    SCROLLBAR-HIGHLIGHT-COLOR: #f0f0ee;
    SCROLLBAR-SHADOW-COLOR: #f0f0ee;
    SCROLLBAR-3DLIGHT-COLOR: #f0f0ee;
    SCROLLBAR-ARROW-COLOR: #676662;
    SCROLLBAR-TRACK-COLOR: #f5f5f5;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Ge'ez-1, Ge'ez-2, Ge'ez-3, 'Power Geez Unicode1', 'Power Geez Unicode2';
    SCROLLBAR-DARKSHADOW-COLOR: #dddddd;
    SCROLLBAR-BASE-COLOR: #f0f0ee;
    BACKGROUND-COLOR: #ffffff
}
TD
{
    FONT-SIZE: 12px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
PRE
{
    FONT-SIZE: 12px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.example1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px
}
.example2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ff0000
}
.tablerow1
{
    BACKGROUND-COLOR: #bbbbbb
}
THEAD
{
    BACKGROUND-COLOR: #ffbbbb
}
TFOOT
{
    BACKGROUND-COLOR: #bbbbff
}
TH
{
    FONT-SIZE: 13px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bold
{
    FONT-WEIGHT: bold
}
.italic
{
    FONT-STYLE: italic
}
.underline
{
    TEXT-DECORATION: underline
}
.left
{
}
.center
{
    TEXT-ALIGN: center
}
.right
{
    TEXT-ALIGN: right
}
.full
{
    TEXT-ALIGN: justify
}
IMG.left
{
    FLOAT: left
}
TABLE.left
{
    FLOAT: left
}
IMG.center
{
    MARGIN-LEFT: auto;
    MARGIN-RIGHT: auto
}
TABLE.center
{
    MARGIN-LEFT: auto;
    MARGIN-RIGHT: auto
}
IMG.center
{
    DISPLAY: block
}
IMG.right
{
    FLOAT: right
}
TABLE.right
{
    FLOAT: right
}
